extends layout

block content
  h1 Business usecases 
  p Realtime JIRA monitoring system provides a pathway for huge process improvement for not just ECSS team but overall FNC.
  ol(id="usecases")
    li Monitor a specific JIRA project (Engineering Customers Services and Sliutions).
    li Detect techinfo attachments, download and extract them automatically using Techinfo command line tool. 
    li The extracted logs can be feeded into RASIS log analysis Phase 1 and Phase 2 to make it available in Kibana and generate reports automatically.
    li The extracted logs can be uploaded to common server location and post sftp information to access the logs as JIRA comment.
    li Send an email notification to project manager(Nukala) on creation of new NTT-Lab R3 issues. Manager comes to know this information in less than a second since this is a realtime monitoring.
    li Send an email notification to project manager, assignee and reporter if the issue is in Open status for more than two weeks.
    li See the load information in the issue and create a "relates to" ticket automatically (ECSS NTT-Lab relates to LBAND or TSERCIS )