body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
  padding: 10px;
}

ol {
  padding: 30px;
  border: 1px dotted;
  color: forestgreen;
}

#usecases li {
  margin-bottom: 40px;
  font-size: 25px;
  margin-left: 10px;
}